:root {
  --bcg-white: #fff;
  --c-text-black: #07060b;
  --bcg-black: #07060b;
  --c-text-white: #fff;
  --bcg-gradient-btn: linear-gradient(#46f4db, #57d272 100%);
  --c-primary-activ: #57d272;
  --c-primary: #46f4db;
  --c-black-secondary: #06060b;
  --c-red: #d13130;
  --bcg-red: #d13130;
  --c-grey-light: #ededf2;
  --c-grey-middle: #95959d;
  --c-dark-grey: #717178;
}

body {
  font-family: "Roboto", "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Global*/
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  padding-inline-start: 0;
  list-style-type: none;
  margin: 0;
}
button {
  font-family: inherit;
  cursor: pointer;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
