:root {
  --bcg-white: #fff;
  --c-text-black: #07060b;
  --bcg-black: #07060b;
  --c-text-white: #fff;
  --bcg-gradient-btn: linear-gradient(#46f4db, #57d272 100%);
  --c-primary-activ: #57d272;
  --c-primary: #46f4db;
  --c-black-secondary: #06060b;
  --c-red: #d13130;
  --bcg-red: #d13130;
  --c-grey-light: #ededf2;
  --c-grey-middle: #95959d;
  --c-dark-grey: #717178;
}

body {
  font-family: "Roboto", "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--c-text-black);
}

/*Global*/
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  padding-inline-start: 0;
  list-style-type: none;
  margin: 0;
}
button {
  font-family: inherit;
  cursor: pointer;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.section {
  margin: 0 auto;
  max-width: 320px;
  padding: 80px 0;
}

.container {
  padding: 0 12px;
}

/* Header */

header {
  position: relative;
  margin: 0 auto;
  max-width: 320px;
  padding-bottom: 10px;
}

.header-button {
  display: none;
}
.header-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}
.logo-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrap::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--c-dark-grey);
  position: absolute;
  top: 75px;
  left: 0;
}
.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-link {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link {
  padding: 10px 0 10px;
  font-weight: 700;
}
/* END Header */

/* Hero-section */

.hero-section {
  margin: 0 auto;
  max-width: 320px;
  padding: 0;
  background-color: var(--bcg-black);
  color: var(--c-text-white);
}
.hero-container {
  padding: 64px 12px;
}
.hero-title {
  font-family: "Russo One", sans-serif;
  font-weight: 300;
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 16px;
}
.hero-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero-btn {
  font-weight: 700;
  padding: 15px 38px;
  border: none;
  border-radius: 40px;
  background: var(--bcg-gradient-btn);
  width: 132px;
  transition: background-color 0.2s ease;
}
.hero-btn:active {
  background: var(--c-primary-activ);
}
.hero-link {
  background-color: var(--bcg-black);
  color: var(--c-text-white);
  border: 5px solid var(--c-primary);
  font-weight: 700;
  border-radius: 40px;
  padding: 11px 20px;
  width: 164px;
  transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
}
.hero-link:active {
  background-color: var(--c-primary-activ);
  color: var(--bcg-black);
  border: 5px solid var(--c-primary-activ);
}

/* END Hero-section */

/* auction-section */

.auction-section {
  margin: 0 auto;
  max-width: 320px;
  padding: 80px 0;
}
.action-wraper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.auction-title-wrap {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 32px;
}
.title-secondary {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
}
.auction-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--c-red);
  font-family: "Roboto";
  border: 1px solid var(--c-red);
  font-size: 12px;
  font-weight: 700;
  border-radius: 40px;
  padding: 8px 14px 8px 23px;
}
.auction-link::before {
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--bcg-red);
  position: absolute;
  left: 14px;
  top: 12px;
}

.auction-inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 80px;
}
.auction-content-wraper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.auction-item {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--c-grey-light);
  padding: 11px 16px;
  border-radius: 18px;
  width: 170px;
}
.action-name {
  font-weight: 700;
}
.auction-nic {
  font-size: 30px;
}
.auction-bet-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.auction-bet {
  padding: 16px 28px 16px 16px;
  background-color: var(--c-grey-light);
  border-radius: 18px;
  width: 174px;
}
.auction-black-quaternary {
  font-weight: 700;
  margin-bottom: 16px;
}
.auction-wight {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}
.auction-price {
  font-weight: 700;
  color: var(--c-grey-middle);
}
.action-time {
  padding: 16px;
  background-color: var(--bcg-black);
  border-radius: 18px;
  width: 200px;
}
.auction-white-quaternary {
  color: var(--c-text-white);
  font-weight: 700;
  margin-bottom: 16px;
}
.auction-time-wrap {
  display: flex;
  align-items: center;
  gap: 24px;
}
.time {
  color: var(--c-text-white);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 6px;
  text-align: center;
}
.time-description {
  color: var(--c-text-white);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
  text-align: center;
}
.aucion-clock {
  display: none;
}

.auction-btn {
  background-color: var(--c-primary);
  padding: 15px 15px;
  border-radius: 40px;
  font-weight: 700;
  border: none;
  width: 200px;
  transition: background-color 1s ease-in-out;
  margin-top: 16px;
}
.auction-btn:active {
  background-color: var(--c-primary-activ);
}

.title-tertiary {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 32px;
}
.other-auctions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.other-auctions-item {
  flex-basis: 100%;
}
.other-auctions-item {
  display: none; /* Скрыть все элементы */
}

.other-auctions-item:first-child {
  display: block; /* Показать только первый элемент по умолчанию */
}

.other-auctions-photo {
  background-color: var(--c-grey-light);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 7px 0;
}
.other-auctions-img {
  margin: 0 auto;
  width: 160px;
}
.other-wrap-name {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}
.other-auctions-content {
  background-color: var(--c-grey-light);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 16px 16px 32px;
  background-color: var(--bcg-black);
  color: var(--c-text-white);
}
.other-img-name {
  width: 24px;
  height: 24px;
}
.other-name {
  font-weight: 700;
}
.other-nic {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.other-wight {
  font-size: 20px;
  font-weight: 700;
  color: var(--c-primary);
  margin-bottom: 12px;
}
.other-time {
  font-weight: 700;
  color: var(--c-grey-middle);
}
.eclipse-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}
.list-svg {
  fill: var(--c-primary);
}
.list-svg-grey {
  fill: var(--c-grey-light);
}
.auction-other-btn {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--bcg-white);
  border: 5px solid var(--c-primary);
  padding: 10px 27px;
  border-radius: 40px;
  transition: background-color 0.5s ease-in-out;
}
.auction-other-btn:active {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--c-primary);
  border: 5px solid var(--c-primary);
}
/* END auction-section */

@media screen and (min-width: 1024px) {
  header {
    max-width: 1024px;
  }
  .container {
    padding: 0 36px;
  }
  .logo-wrap::after {
    display: none;
  }
  .header-link {
    display: none;
  }
  .header-nav {
    flex-direction: row;
    gap: 64px;
    align-items: center;
  }
  .logo-img {
    width: 100px;
    height: 40px;
  }
  .nav-link {
    font-size: 20px;
    padding: 30px 0 30px;
  }
  .nav-list {
    gap: 32px;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bcg-white);
    background-color: var(--bcg-black);
    font-weight: 700;
    border: none;
    padding: 16px 42px;
    border-radius: 77px;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  }
  .header-button:hover {
    background-color: var(--c-primary);
    color: var(--bcg-white);
  }

  .hero-section {
    max-width: 1024px;
  }
  .hero-wrap {
    display: flex;
  }
  .hero-container {
    padding: 160px 35px;
  }
  .hero-title {
    font-size: 70px;
    margin-bottom: 36px;
    width: 620px;
  }
  .hero-actions {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

  .hero-link:hover,
  .hero-link:hover {
    background-color: var(--c-primary);
    color: var(--bcg-black);
    border: 5px solid var(--c-primary);
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background: var(--c-primary);
  }

  .auction-section {
    max-width: 1024px;
    padding: 90px 0;
  }
  .title-secondary {
    font-size: 60px;
  }
  .auction-link {
    font-size: 16px;
    padding: 10px 14px 10px 26px;
  }
  .auction-link::before {
    left: 16px;
    top: 16px;
  }
  .auction-inner {
    flex-direction: row;
    margin-bottom: 90px;
  }

  .img-wolf {
    width: 460px;
  }
  .auction-content-wraper {
    gap: 32px;
  }
  .auction-item {
    gap: 16px;
    width: 228px;
  }
  .action-name {
    font-size: 20px;
  }
  .auction-btn {
    margin-top: 0;
  }
  .auction-nic {
    font-size: 48px;
  }
  .auction-bet-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
  }
  .auction-bet {
    width: 296px;
  }
  .action-time {
    position: relative;
    padding: 32px;
    background-color: var(--bcg-black);
    border-radius: 18px;
    width: 460px;
  }
  .auction-white-quaternary {
    font-size: 20px;
  }
  .time {
    font-size: 48px;
  }
  .time-description {
    font-size: 20px;
  }
  /* .auction-time-wrapper {
    display: flex;
    gap: 44px;
  } */
  .aucion-clock {
    display: block;
    position: absolute;
    width: 141px;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
  }
  .auction-btn {
    font-size: 20px;
    width: 296px;
    padding: 25px 70px;
  }

  .auction-black-quaternary {
    font-size: 20px;
  }
  .auction-wight {
    font-size: 48px;
    margin-bottom: 6px;
  }
  .auction-price {
    font-size: 20px;
  }
  .eclipse-list {
    display: none;
  }

  .other-auctions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .other-auctions-item {
    flex-basis: calc((100% - 64px) / 3);
  }
  .other-auctions-item:nth-child(-n + 6) {
    display: block;
  }
}

@media screen and (min-width: 1920px) {
  header {
    max-width: 1920px;
  }
  .container {
    padding: 0 320px;
  }
  .hero-section {
    max-width: 1920px;
  }
  .hero-container {
    padding: 160px 35px 160px 320px;
  }
  .auction-section {
    max-width: 1920px;
  }
  .auction-bet-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
